@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400|Source+Sans+Pro:200,400,600&display=swap');

:root {
  /*--blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; 
*/
  /* Override Variables */
  --font-family-sans-serif: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --font-family-serif: Merriweather, serif;
  --gray-dark: #404040;
  --light-blue: #e1f7f5;

  --color-text: var(--gray-dark);
  --font-family-text: var(--font-family-sans-serif);
}

.family-sans {
  font-family: var(--font-family-text);
}

.animated {
  visibility: visible !important;
}

body {
  font-family: var(--font-family-text);
  color: var(--color-text);
  font-weight: 200;
}

.site-header {
  background: url(images/hero-background.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.site-header .page-section-title {
  font-size: 3em;
  font-family: var(--font-family-sans-serif);
  font-weight: 200;
}

.site-header .animated{
  animation-delay: 2s;
  animation-duration: 2s;
}

.site-header .page-section-text {
  font-size: 1.2em;
  font-family: var(--font-family-sans-serif);
  font-weight: 200;
}

.site-header .nav-link {
  position: relative;
  padding-bottom: 0;
  margin-bottom: 2px;
}

.site-header .nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  max-width: 80px;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 1s ease-in-out;
}

.site-header .nav-link:hover:before {
  visibility: visible;
  left: 0;
  transform: scale(1);
}

#page-multicolumn {
  background: var(--light-blue);
}

@media screen and (min-width: 770px) {
  .layout-photogrid .layout-image {
    transition: all 0.3s ease-out;
  }

  .layout-photogrid .layout-image:hover {
    transform: scale(1.1) translate(-3px);
  }
}

.page-section-header .page-section-title {
  font-size: 4em;
  font-family: var(--font-family-sans-serif);
  font-weight: 200;
  color: var(--grey-dark);
}

.page-section-header .page-section-text {
  font-size: 1.2em;
  font-weight: 200;
}

.site-header .layout-hero {
  min-height: 90vh;
}

.site-nav.inbody {
  background: #007bff;
}

@media screen and (max-width: 768px) {
  .site-header .navbar-collapse {
    background-color: rgba(0,0,0,0.9);
    padding: 10px;
  }

  .site-nav {
    padding: 0 !important;
  }
}

.layout-media .layout-video {
  max-width: 100vw;
}

.layout-media .layout-title {
  color: var(--grey-dark);
  font-family: var(--font-family-sans-serif);
  font-weight: 200;
  font-size: 1.6em;
}

#page-photogrid {
  background: var(--light-blue);
}

.layout-social .layout-icon {
  font-size: 2rem;
}

.icon {
  display: inline-block;
  font-size: inherit;
  overflow: visible;
  vertical-align: -0.125;
  text-rendering: auto;
  fill: grey !important;
  width: 50px;
  height: 50px;
}

#page-icons {
  background-color: var(--light-blue);
}

@media screen and (min-width: 768px) {
  #page-floater {
    margin: 150px 0 150px 0;
  }

  .layout-image-floater {
    width: 150px;
    height: 150px;
    margin: 0;
  }

  .floater-heading {
    margin-left: 70px;
  }
}

@media screen and (max-width: 576px) {
  #page-floater {
    margin: 200px 0 0 0;
  }

  .floater-heading {
    margin: 200px 0 0 0;
  }

  .layout-floater .layout-image-floater {
    width: 300px !important;
    height: 300px !important;
  }

  .layout-floater .layout-title,
  .layout-floater .layout-text {
    margin-left: 0 !important;
  }
}

.layout-floater .layout-container {
  position: relative;
}

.layout-floater .layout-image-floater {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  width: 600px;
  height: 600px;
}

#page-cards {
  background-color: var(--light-blue);
}

.modal-dialog {
  height: 100vh;
  padding-top: 100px;
}

.model-content img {
  vertical-align: middle;
}

.site-footer {
  background-color: #007bff;
}

